<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="css/style102.css">
    <script type="text/javascript" src="js/filter.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>coralis.ro</title>
</head>
  <body>
    <nav>
      <div class="logo">
        <img src="media/final.jpg" alt="">
      </div>
      <ul class="nav-links">
        <li><a href="index">Home</a></li>
        <li ><a href="#">About</a>
          <div class="megamenu">
            <div class="content">
              <div class="row">
                <img src="media/nemo.jpg" alt="">
              </div>
            <div class="row">
              <ul class="megalinks">
                <li>
                  <p>Daca te afli aici atunci sigur ai tinut pesti de acvariu de cand ai fost mic. Ne amintim cu drag cum ne opream in fiecare zi in drumul de la scoala spre casa la magazinul cu pesti de acvariu sau cum cautam in targuri si piete pesti de acvariu de vanzare. Eram cu totii nebuni dupa ei.</p>
                </li>
              </ul>
            </div>
            <div class="row">
              <ul class="megalinks">
                <li>
                  <p>Cu timpul ne-am maturizat, ne-am mai informat si dragostea noastra pentru pestii de acvariu s-a transformat intr-o fuga pentru a le oferi cele mai bune conditii de viata.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </li>

        <li>
          <a href="freshwater">Freshwater</a>
          <ul class="dropmenu">
            <li><a href="freshwater.ejs#f">Fish</a></li>
            <li><a href="freshwater.ejs#ff">Food</a></li>
            <li><a href="freshwater.ejs#p">Plants</a></li>
            <li><a href="freshwater.ejs">Products</a></li>
          </ul>
        </li>
        <li>
          <a href="saltwater">Saltwater</a>
          <ul class="dropmenu1">
            <li><a href="saltwater.ejs#f">Fish</a></li>
            <li><a href="saltwater.ejs#ff">Food</a></li>
            <li><a href="saltwater.ejs#p">Plants</a></li>
            <li><a href="#">Products</a></li>
          </ul>
        </li>
        <li><a href="accessories">SHOP</a></li>


        <div class="nav__list">
          <a class="login">
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit">Log Out</button>
            </form></a>
          <div class="cart__icon">
            <a class="buton">cart</a>
           
          </div>
        </div>


      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
<main>
   <header>
    <ul class="indicator">
        <li data-filter="all" class="active">Toate<a href="#"></a></li>
        <li data-filter="Filtru Intern">Filtru Intern<a href="#"></a></li>
        <li data-filter="Filtru Extern">Filtru Extern<a href="#"></a></li>
         <li data-filter="Filtru Cascada">Filtru Cascada<a href="#"></a></li>
    </ul>
  </header> 
  
    <div class="shop">
        <ul class="shop-items">
          <% items.filter.forEach(function(item){ %>
            <li class="shop-item" data-category="<%= item.categ %>">
                <img class="shop-item-image" src="media/<%= item.imgName %>" alt="">
                <span class="shop-item-title"><%= item.name %></span>
                <h4 class="shop-item-price">$<%= item.price/100 %></h4>
                <button class="modal-btn">BUY</button>
            </li>
          <% }) %>
            
         
        </ul>
    </div>
  
    <div class="modal-bg">
      <div class="modal">
        <section class="container content-section">
          <h2 class="section-header">CART</h2>
          <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
          </div>
          <div class="cart-items">
            
          </div>
          
          <div class="cart-total">
            <strong class="cart-total-title">TOTAL</strong>
            <span class="cart-total-price">$0</span>
          </div>
          
            <button class="btn btn-primary btn-purchase" role="button">COMANDA</button>
          
        </section>
        <span class="modal-close">X</span>
      </div>
    </div>
    <div class="overlayzzz">
        <div class="overlayy">
            <h2>LOGIN</h2>
            <% if(messages.error) {%>
            <%= messages.error%>
            <%}%>
            <label for="email">Email: </label>
            <input type="text" name="name">
            <label for="password">Password: </label>
            <input type="text" name="password">
            <button class="b">ENTER</button>
            <a href="/register" class="b">Register</a>
           <a><span class="over-close">X</span></a> 
        </div>
    </div>
  </main>




    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About Us</h2>
          <div class="contentt">
            <p>Ca sa atingem aceasta fericire pura, ne bucuram sa avem aici de unde sa ne alegem prietenii dintre cele peste 1000 de specii de pesti de acvariu de apa dulce si sarata, pesti ce pot fi comandati online si livrati acasa in conditii de siguranta si cu garantie 100% a supravietuirii.</p>
            <div class="social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
          </div>
        </div>
      <div class="center box">
        <h2>Adress</h2>
        <div class="contentt">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Bucuresti, Sector 6 Strada Poiana Muntelui</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+40291.540.320</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">coralis@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contact Us</h2>
        <div class="contentt">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required>
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea rows="2"  cols="25" required></textarea>
            </div>
            <div class="btn">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </footer>
  </body>
</html>